//MODAL

.modal-dialog-slideout {
  background: none;

  .modal-content {
    color: $white;
    background-color: $dark;
    border-radius: 0.3rem;

    .modal-header {
      border-bottom: none;
    }

    .modal-footer {
      border-top: none;
    }
  }
}

//BUTTONS
.btn-primary {
  color: $white;
  background-color: transparent;
  border-color: $cyan;
  border-width: medium;
}
