body {
  footer {
    color: $dark;
    background: $white;
    height: 15em;

    a.nav-link {
      color: $dark !important;
    }

    // .prev-select {
    //   color: $gray;
    //   font-weight: $thin-weight;
    //   letter-spacing: 1px;
    //   text-decoration: none;
    //   font-size: 150%;

    //   a {
    //     margin: 0 1rem;
    //   }
    // }

    .prev-item {
      color: $gray;
      font-weight: $thin-weight;
      font-size: 125%;
      letter-spacing: 2px;
      text-align: left;
      background-image: none;
    }
    .btn-circle.btn-sm {
      border-color: $black;

      &:hover {
        border-color: $gray;
      }
    }

    // .next-select {
    //   color: $gray;
    //   font-weight: $thin-weight;
    //   letter-spacing: 1px;
    //   text-decoration: none;
    //   font-size: 150%;

    //   a {
    //     margin: 0 1rem;
    //   }
    // }

    .next-item {
      color: $gray;
      font-weight: $thin-weight;
      font-size: 125%;
      letter-spacing: 2px;
      text-align: right;
      background-image: none;

      .btn-circle.btn-sm {
        border-color: $black;

        &:hover {
          border-color: $gray;
        }
      }
    }

    .bottom-nav {
      position: relative;
      top: 60%;

      /*  Black Hover Dots */
      .cl-effect-13b a:hover::before,
      .cl-effect-13b a:focus::before {
        color: $dark;
      }
    }

    #footer-logo {
      margin: 0 auto;
      width: 8%;
      padding-top: 8%;
      opacity: 0.25;
    }
  }
}
