body {
  footer {
    color: $dark;
    background: $white;
    height: 10rem;

    a.nav-link {
      color: $dark !important;
    }

    .next-item {
      color: $gray;
      font-weight: $thick-weight;
      font-size: 150%;
      letter-spacing: 2px;

      a {
        color: $gray;
        font-weight: $thin-weight;
        letter-spacing: 1px;
        text-decoration: none;

        &:hover {
          color: $dark;
          transition: color 0.5s ease-in-out;
        }
      }
    }

    .bottom-nav {
      position: relative;
      top: 25%;

      /*  Black Hover Dots */
      .cl-effect-13b a:hover::before,
      .cl-effect-13b a:focus::before {
        color: $dark;
      }
    }
  }
}
