body {
  font-family: $font;
  font-weight: $thin-weight;
  color: $white;
  background-color: $dark;

  header {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    .container {
      position: relative;
      z-index: 2;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($black, 0.25);
      z-index: 1;
    }
  }

  section {
    &.heading {
      text-align: left;
      text-decoration: none;
      top: 50%;
      left: 10%;
    }

    &#thebreakingacademy {
      background-image: url(../img/tba/tba-hero.jpg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      padding: 1080px 3rem 3rem 10rem;
    }

    &#cleanup {
      background-image: url(../img/cleanup/cleanup.jpg);
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}

#logo {
  max-width: 40%;
  // position: relative;
  position: absolute;
  top: 30%;
  left: 10%;
  // transform: translateY(-50%, -50%);
  z-index: 100;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  &#home {
    background-image: url("../img/bg-photon.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &#tba {
    background-image: url("../img/tba/tba-hero.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 2;

    h2 {
      color: $black;
      background: rgba($white, 0.5);
      word-spacing: -0.15em;
      letter-spacing: 3px;
      padding: 0.25rem;
      width: auto;

      span {
        font-weight: $thick-weight;
      }
    }
  }
}

section {
  .intro {
    outline: 1px white solid;
  }
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;

    video {
      display: none;
    }
  }
}
