body {
  font-family: $font;
  font-weight: $thin-weight;
  color: $white;
  background-color: $dark;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, 0.25);
    z-index: 1;
  }

  header {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    .container {
      position: relative;
      z-index: 2;
      max-width: 90%;
      // changed to override max-width:1140 from _grid, and fixes navbar on large screens
    }
  }

  section {
    &.heading {
      text-align: left;
      text-decoration: none;
      top: 50%;
      left: 10%;
    }

    &#thebreakingacademy {
      background-image: url(../img/tba/tba-hero.jpg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      padding: 1080px 3rem 3rem 10rem;
    }

    &#cleanup {
      background-image: url(../img/cleanup/cleanup.jpg);
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img/bg-skyline.jpg");
  padding-top: 20%;

  .btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    margin: 0 0.25rem !important;
    border-radius: 25px;
    border-width: 0.5rem;
  }

  &#home {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #logo {
      z-index: 10;
    }

    .hero-text {
      position: relative;
      z-index: 3;
    }

    h4 {
      font-weight: $thin-weight;
      text-align: left;
      margin-bottom: -2rem;
    }
  }

  &#tba {
    background-image: url("../img/tba/tba-hero.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    position: relative;
    z-index: 2;

    h2 {
      color: $black;
      background: rgba($white, 0.5);
      word-spacing: -0.15em;
      letter-spacing: 3px;
      padding: 0.25rem;
      width: auto;

      span {
        font-weight: $thick-weight;
      }
    }
  }
}

section {
  .intro {
    outline: 1px white solid;
  }
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;

    video {
      display: none;
    }
  }
}
