.btn-primary {
  color: $gray;
  background-color: transparent;
  border-color: $gray;
  border-width: thin;

  &:hover {
    background-color: transparent;
    color: $dark;
    border-color: $dark;
    border-width: 2px;
    transition: border-color 0.5s ease, border-width 0.25s ease;
  }
}

button:hover {
  color: $white;
  transition: color 0.5 ease;
}

.modal-dialog-slideout {
  background: none;
  min-height: 100%;
  margin: 0 0 0 auto;

  .close {
    color: $dark;
    font-size: 2.5rem;
    text-shadow: transparent;
    margin-top: -1.25rem;
    margin-right: 0;
  }

  .form-control {
    &#description {
      height: calc(1.5em + 0.75rem + 100px);
    }
  }

  .modal-content {
    color: $dark;
    background-color: $white;
    border-radius: 0.3rem;

    .modal-header {
      color: $gray;
      border-bottom: none;
      display: inline;
      padding: 1rem 0.5rem 1rem 2rem;

      .modal-title {
        font-weight: $thin-weight;
      }
    }

    .modal-body {
      border-top: none;

      a {
        color: $gray;

        &:hover {
          color: $dark;
          text-decoration: none;
          transition: color 0.5s ease-in-out;
        }
      }

      .btn-secondary {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}

/* Hide the browser-specific focus styles */
.floating-label-field {
  border-width: 0;
  color: rgba(#2c3e50, 0.75);
  border-bottom: 3px solid rgba($dark, 0.05);
  background-color: transparent;
  color: rgba($dark, 0.75);

  &:focus {
    outline: 0;
    box-shadow: 0;
  }

  &:focus,
  &:not(:placeholder-shown) {
    border-color: rgba($dark, 0.1);
    & + .floating-label {
      transform: translate(1%, -30%) scale(0.8);
      opacity: 0.25;
    }
  }

  &::placeholder {
    color: transparent;
  }

  &,
  & + .floating-label {
    line-height: 1;
    font: inherit;
    padding: 1.5em;
    height: 4em;
    width: 100%;
    position: relative;
  }

  & + .floating-label {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    transition: transform 0.25s, opacity 0.25s ease-in-out;
    transform-origin: 0 0;
    opacity: 0.5;
  }
}

.floating-label-input {
  &:valid {
    &:not(:placeholder-shown) {
      border-color: rgba(#2ed573, 0.3);
    }
  }

  &:invalid {
    border-color: rgba(#ff4757, 0.3);
  }
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: auto;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}
.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
  height: 69px;
  display: block;
}
.modal-dialog-slideout .modal-header h4 {
  float: left;
}

.floating-label-field#description {
  height: 10em;
  // width: 100%;
  white-space: normal;
}
