nav {
  // max-width: 1380px;
  max-width: 100%;
  margin: 0 auto;

  .navbar-brand {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  .nav-link {
    color: $white !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .navbar-nav > li > a {
    text-decoration: none;
    color: #000;
    position: relative;
  }

  /* Hover Dots */
  .cl-effect-13 a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }

  .cl-effect-13 a::before {
    position: absolute;
    top: 100%;
    left: 50%;
    color: transparent;
    content: "\25CF";
    font-size: 200px;
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
  }

  .cl-effect-13 a:hover::before,
  .cl-effect-13 a:focus::before {
    color: $white;
    // text-shadow: 10px 0 #fff, -10px 0 #fff;
  }

  // .cl-effect-13 a:hover,
  // .cl-effect-13 a:focus {
  //   color: #ba7700;
  // }

  /* Ilin logo effect */
  .link--ilin {
    font-weight: $thick-weight;
    text-transform: uppercase;
    line-height: 1.7;
    color: $gray !important;
    font-size: larger;
    letter-spacing: 3px;
    overflow: hidden;
  }

  .link--ilin span {
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  .link--ilin:hover span:first-of-type {
    color: $white;
  }

  .link--ilin:hover span:last-of-type {
    color: $black;
  }

  .link--ilin span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $white;
    line-height: 0.5;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .link--ilin span:last-of-type::before {
    background: $black;
  }

  .link--ilin:hover span:last-of-type::before,
  .link--ilin span:first-of-type::before {
    -webkit-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0);
  }

  .link--ilin:hover span:first-of-type::before,
  .link--ilin span:last-of-type::before {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }
}
