h4 {
  letter-spacing: 2px;
  font-weight: $thick-weight;
  margin-bottom: 3rem;
}

p {
  line-height: 2rem;
  margin: 3rem 0 7rem;
}

/* Header Parallax Element Style*/
.paral {
  height: 100vh;
  min-height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/* Image for Parallax Section */
.paralsec {
  background-image: url("../img/tba/tba-hero.jpg");

  .hero-text {
    display: inline-block;
    h1 {
      text-align: center;
      z-index: 2;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      color: $black;
      background: rgba($white, 0.5);
      word-spacing: -0.15em;
      letter-spacing: 3px;
      padding: 0.25rem;
      width: auto;
    }

    p {
      text-align: right;
      display: block;
      z-index: 2;
      position: absolute;
      letter-spacing: 2px;
      font-size: 115%;
      font-weight: 600;
      padding: 0.5em;
      margin: 1rem;
      color: $white;
      background: rgba($black, 0.5);
      bottom: 15%;
      right: 10%;

      span {
        font-size: 1rem;
        font-weight: $thick-weight;
      }
    }

    span {
      font-weight: $thick-weight;
    }
  }
}

.paralsec1 {
  height: auto;
  width: 75%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .description {
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 0 7rem;
  }
}

.paralsec2 {
  // height: 300px;
  height: auto;
  background-image: url("https://img.webnots.com/2015/11/parallax2.jpg");

  .btn-primary {
    color: $dark;
    background-color: $white;
    font-size: 150%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      background-color: transparent;
      color: $white;
      border-color: $white;
      transition: border-color 0.5s, color 0.25s ease-in-out;
    }
  }
}
