@import url("https://fonts.googleapis.com/css?family=Kanit:300,600&display=swap");
$font: Kanit, sans-serif;

// Font Weights
$thin-weight: 300;
$thick-weight: 600;

// logo
$dark: #303030;
$white: rgb(235, 235, 235);
$black: #000;
$cyan: #165ba9;
