/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */
@import "https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans";

/* ==========================================================================
   2. GENERAL
   ========================================================================== */


@-webkit-keyframes "sk-bounce" {

  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes "sk-bounce" {

  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #546E7A;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  color: #546E7A;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

a {
  &:hover {
    color: #F97794;
    text-decoration: none;
    outline: none;
  }

  &:focus {
    color: #F97794;
    text-decoration: none;
    outline: none;
  }

  color: #F97794;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:not([href]) {
    &:not([tabindex]) {
      color: #fff;

      &:focus {
        color: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.bg-transparent {
  background: transparent !important;
}

.bg-default {
  background: #F97794 !important;
}

/* ==========================================================================
   2.1 Section Title
   ========================================================================== */
.section {
  padding: 80px 0;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  position: relative;

  .section-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #263238;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -8px;
      width: 80px;
      height: 2px;
      background: #F97794;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
    }
  }

  span {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.07);
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
  }
}


/* ==========================================================================
   2.2 Buttons
   ========================================================================== */

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;

  &:focus {
    box-shadow: none;
    outline: none;
    color: #fff;
  }

  &:active {
    box-shadow: none;
    outline: none;
    color: #fff;
  }

  &:disabled {
    opacity: 1;
  }
}

.btn-common {
  background-color: #F97794;
  position: relative;
  z-index: 1;
  padding: 12px 32px;
  border-radius: 30px;

  &:hover {
    color: #fff;
  }
}

.btn-effect {
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: #fff;
  color: #fff;

  &:hover {
    color: #ffffff;
    background-color: #F97794;
  }
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

button {
  &:focus {
    outline: none !important;
  }
}

.clear {
  clear: both;
}


/* ==========================================================================
   2.3 Social Icons
   ========================================================================== */

.social-icons {
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;

      a {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid rgba(255, 254, 254, 0.07);
        line-height: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 16px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.facebook {
  a {
    color: #4867AA;

    &:hover {
      background: #4867AA;
    }
  }
}

.twitter {
  a {
    color: #1DA1F2;

    &:hover {
      background: #1DA1F2;
    }
  }
}

.google-plus {
  a {
    color: #DD4D42;

    &:hover {
      background: #DD4D42;
    }
  }
}

.youtube {
  a {
    color: #DF2926;

    &:hover {
      background: #DF2926;
    }
  }
}

.linkedin {
  a {
    color: #007BB6;

    &:hover {
      background: #007BB6;
    }
  }
}

.pinterest {
  a {
    color: #BD081C;

    &:hover {
      background: #BD081C;
    }
  }
}

.dribbble {
  a {
    color: #EA4C89;

    &:hover {
      background: #EA4C89;
    }
  }
}

.behance {
  a {
    color: #0B7CFF;

    &:hover {
      background: #0B7CFF;
    }
  }
}

/* ==========================================================================
   2.4  Pre Loader
   ========================================================================== */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #263238;
  z-index: 9999999999;
}

.spinner {
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
  margin: 0px auto;
}

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #F97794;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #F97794;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}


/* ========================================================================== 
  -2.5 Scroll To Up 
   ========================================================================== */

.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;

  i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    background-color: #F97794;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.overlay-2 {
  background: rgba(0, 0, 0, 0.9) !important;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #F97794;
  opacity: 0.5;
  filter: alpha(opacity=80);
}


/* ==========================================================================
   Navbar Style
   ========================================================================== */

.bg-faded {
  background-color: #fff;
}

.mainmenu-area {
  padding: 10px 0;
  border: none;
  margin: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  .menu-button {
    position: relative;
    color: #263238;
    line-height: 58px;
    top: 0;
    outline: none;
  }

  .navbar-nav {
    .nav-link {
      color: #263238 !important;
    }
  }
}

.logo-menu {
  a {
    font-size: 20px;
    color: #fff;
  }
}

.menu-bg {
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 3px;

  .menu-button {
    top: 0;

    &:hover {
      cursor: pointer;
      color: #F97794;
    }
  }

  .logo-menu {
    a {
      color: #F97794;
    }
  }

  .navbar-nav {
    .nav-link {
      color: #263238 !important;

      &:hover {
        color: #F97794 !important;
      }
    }

    .active {
      color: #F97794 !important;
    }
  }

  .collapse.show {
    background: #fff;
    margin-bottom: 10px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
  }
}

.menu-button {
  &:hover {
    cursor: pointer;
    opacity: #eee;
  }
}

.bg-white {
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 5px;

  .menu-button {
    top: 0;

    &:hover {
      cursor: pointer;
      color: #F97794;
    }
  }

  .logo-menu {
    a {
      color: #F97794;
    }
  }

  .navbar-nav {
    .nav-link {
      color: #263238 !important;

      &:hover {
        color: #F97794 !important;
      }
    }

    .active {
      color: #F97794 !important;
    }
  }
}

.close-button {
  cursor: pointer;
}

.navbar-expand-md {
  .navbar-nav {
    .nav-link {
      color: #fff;
      font-size: 14px;
      padding: 5px 0px;
      margin-left: 30px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #F97794;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
      }

      &:hover {
        &::before {
          width: 50%;
        }

        color: #F97794;

        &:before {
          color: #F97794;
        }
      }

      &:focus {
        color: #F97794;
      }
    }

    .active {
      &::before {
        width: 50%;
      }

      >.nav-link {
        color: #F97794;
      }
    }

    .nav-link.active {
      color: #F97794;

      &:before {
        color: #F97794;
      }
    }

    .nav-link.open {
      color: #F97794;
    }

    .open {
      >.nav-link {
        color: #F97794;
      }
    }
  }

  .navbar-toggler {
    background: #F97794;
    border-radius: 0px;
    margin: 5px;
    cursor: pointer;
    float: right;

    i {
      color: #fff !important;
    }

    &:active {
      border: 1px solid #F97794;
      color: #F97794;
    }
  }
}

.navbar-brand {
  img {
    max-width: 115px;
  }
}

.collapse.show {
  background: #3e3a3a;
  margin-bottom: 10px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}


/* ==========================================================================
   Hero Area
   ========================================================================== */

.hero-area {
  background: url(../img/hero-area.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #F97794;
    opacity: 0.7;
  }

  .contents {
    padding: 160px 0 140px;

    h2 {
      color: #fff;
      font-size: 52px;
      font-weight: 300;
      margin-bottom: 25px;
    }

    h4 {
      font-size: 16px;
      color: #fff;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 20px;
    }

    p {
      color: #fff;
      font-size: 14px;
      line-height: 26px;
    }

    .btn {
      margin-top: 40px;
      text-transform: uppercase;
    }
  }

  .banner_bottom_btn {
    margin-top: 40px;

    i {
      color: #fff;
      font-size: 48px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;

      &:hover {
        color: #F97794;
      }
    }
  }
}

.intro-img {
  padding: 148px 0 0px;

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}


/* ==========================================================================
 Hero Production version
 ========================================================================== */

.hero-area-2 {
  background: url(../img/bg/hero-area-2.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
  }

  .contents {
    padding: 160px 0 140px;

    h3 {
      color: #fff;
      font-size: 48px;
      font-weight: 500;
    }

    h2 {
      color: #fff;
      font-size: 42px;
      margin-bottom: 30px;
      font-weight: 700;
    }

    h4 {
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      color: #fff;
      line-height: 26px;
    }

    .header-button {
      margin-top: 30px;
    }

    .btn {
      margin: 10px;
      text-transform: uppercase;
    }

    .tag-type {
      ul {
        position: relative;

        li {
          display: inline-block;
          padding: 10px;
          position: relative;

          a {
            color: #fff;
            text-transform: uppercase;
          }

          &:before {
            content: '';
            width: 4px;
            height: 4px;
            background: #fff;
            position: absolute;
            top: 19px;
            right: -5px;
            border-radius: 50%;

            &:last-child {
              display: none;
            }
          }

          &:last-child {
            &:before {
              background: transparent;
            }
          }
        }

        &:before {
          content: '';
          width: 40px;
          height: 1px;
          background: #f1f1f1;
          position: absolute;
          top: 20px;
          margin-left: -45px;
        }

        &:after {
          content: '';
          width: 40px;
          height: 1px;
          background: #f1f1f1;
          position: absolute;
          top: 20px;
          margin-left: 6px;
        }
      }
    }

    .arrow-down-icon {
      border: 2px solid #fff;
      width: 42px;
      height: 42px;
      line-height: 42px;
      margin: 30px auto;
      border-radius: 50%;
      font-size: 18px;

      a {
        color: #fff;
      }
    }
  }
}


/* ==========================================================================
   Video Background
   ========================================================================== */

#video-area {
  overflow: hidden;
  position: relative;

  .contents {
    padding: 160px 0 80px;

    h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 25px;
      line-height: 70px;
    }

    p {
      font-size: 14px;
      color: #fff;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.5px;
    }

    .btn {
      margin: 20px 10px;
      text-transform: uppercase;
    }
  }

  .banner_bottom_btn {
    margin-top: 40px;

    i {
      color: #fff;
      font-size: 48px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #F97794;
      }
    }
  }
}


/* ==========================================================================
  About Section Style
   ========================================================================== */

#about {
  position: relative;
  background: #f9f9f9;

  .box-item {
    padding: 15px 0;

    .icon {
      float: left;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      i {
        color: #F97794;
        display: inline-block;
        font-size: 36px;
        margin-bottom: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }

    .text {
      margin-left: 64px;

      h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }

      p {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  .show-box {
    margin: 30px 40px;
  }
}


/* ==========================================================================
  About Area
  ========================================================================== */

#about-area {
  .about-thumb {
    position: relative;
    z-index: 1;
    margin-left: 80px;
    margin-top: 60px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .about-thumb-2 {
    position: absolute;
    z-index: 5;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}


/* ==========================================================================
   Clients 
   ========================================================================== */

#clients {
  background: #f9f9f9;

  .client-item-wrapper {
    text-align: center;
    margin: 0 5px;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
  }

  #clients-scroller {
    img {
      &:hover {
        -moz-transition: all .6s ease;
        -webkit-transition: all .6s ease;
        transition: all .6s ease;
        opacity: 1.0;
      }
    }

    .owl-pagination {
      display: none;
    }
  }
}


/* ==========================================================================
    call to action
   ========================================================================== */

#cta {
  background: url(../img/bg/bg-cta.jpg) fixed;
  background-size: cover;

  h5 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
  }

  .btn {
    margin: 30px 10px;
  }
}

.call-action {
  background: #f9f9f9;

  .cta-trial {
    h3 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 28px;
      letter-spacing: 1px;
    }

    p {
      margin-bottom: 30px;
    }
  }
}


/* ==========================================================================
 Video promo Style
 ========================================================================== */

.video-promo {
  background: url(../img/bg/video.jpg);
  position: relative;

  .video-promo-content {
    color: #fff;

    .video-popup {
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border: 3px solid #fff;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      font-size: 26px;
    }

    h2 {
      margin-top: 30px;
      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
    }

    p {
      color: #fff;
    }
  }
}


/* ==========================================================================
   Portfolio Section
   ========================================================================== */

#portfolio {
  background: #f9f9f9;

  .mix {
    padding: 0px;
  }

  .portfolio-item {
    padding: 10px;
  }
}

#portfolio {
  .mix {
    display: none;
  }
}

.controls {
  text-align: center;
  padding: 0px 0px 20px;

  .active {
    color: #F97794 !important;
    border-color: #F97794;
    background: transparent;
  }

  .btn {
    text-transform: uppercase;
    margin: 2px;
  }

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.shot-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 4000ms;
    -o-transition-duration: 4000ms;
    transition-duration: 4000ms;
  }

  .single-content {
    background-color: rgba(22, 26, 39, 0.7);
    opacity: 0.90;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;

    .fancy-table {
      display: table;
      height: 100%;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
      z-index: 2;

      .table-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }

    .zoom-icon {
      a {
        color: #fff;
        font-size: 30px;
        margin-bottom: 15px;
      }
    }

    a {
      color: #fff;
      font-size: 16px;
    }
  }

  &:hover {
    img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    .single-content {
      opacity: 0.8;
    }
  }
}


/* Services Item */

.item-boxes {
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin: 15px 0;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  .icon {
    margin-bottom: 10px;

    i {
      font-size: 30px;
      line-height: 60px;
      color: #F97794;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }

  &:hover {
    background: transparent;
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
  }
}

.services-item {
  padding: 30px 15px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  .icon {
    margin-bottom: 20px;

    i {
      width: 60px;
      height: 60px;
      background: #f9f9f9;
      display: inline-block;
      line-height: 60px;
      font-size: 24px;
      text-align: center;
      border-radius: 50%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }
  }

  .color-1 {
    i {
      background: #FAE3E3;
      color: #D82928 !important;
    }
  }

  .color-2 {
    i {
      background: #E6F8ED;
      color: #57D283 !important;
    }
  }

  .color-3 {
    i {
      background: #E3EAFA;
      color: #457BF4 !important;
    }
  }

  .color-4 {
    i {
      background: #F3EAD6;
      color: #f1a90a !important;
    }
  }

  .color-5 {
    i {
      background: #E7E6FF;
      color: #7271FF !important;
    }
  }

  .color-6 {
    i {
      background: #DEDEDE;
      color: #35393D !important;
    }
  }

  .services-content {
    padding-left: 65px;

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 500;

      a {
        color: #272727;

        &:hover {
          color: #F97794;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);

    .icon {
      i {
        background: transparent;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.featured-bg {
  background: #fafafa;

  .intro-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .title-sub {
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 36px;
  }

  .intro-desc {
    margin-bottom: 20px;
  }

  .featured-item {
    margin-bottom: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    .icon {
      float: left;
      padding-right: 15px;

      i {
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;
        color: #F97794;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
      }
    }

    h3 {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;

      a {
        color: #272727;

        &:hover {
          color: #F97794;
        }
      }
    }
  }
}


/* ==========================================================================
   Featured Section Start
   ========================================================================== */

.featured-box {
  margin-top: 15px;
  margin-bottom: 15px;

  .featured-icon {
    float: left;

    i {
      font-size: 30px;
      color: #F97794;
      text-align: center;
      float: left;
      margin-right: 25px;
      margin-bottom: 85px;
      display: block;
    }
  }

  .featured-content {
    padding-left: 40px;
    position: relative;

    .icon-o {
      font-size: 86px;
      color: rgba(0, 0, 0, 0.07);
      z-index: 2;
      font-weight: 400;
      text-transform: capitalize;
      position: absolute;
      top: 0px;
      left: 50px;
      width: 100%;
    }

    h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
    }

    p {
      font-size: 14px;
    }
  }
}


/* ==========================================================================
 Team Section
   ========================================================================== */

.single-team {
  &:hover {
    .team-details {
      opacity: 1;
    }

    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
  }

  position: relative;
  background: #f9f9f9;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  border-radius: 0px;
  overflow: hidden;

  img {
    width: 100%;
  }

  .team-inner {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .team-details {
    padding: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;

    .team-title {
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 500;
      color: #263238;
    }

    p {
      margin-bottom: 15px;
    }
  }

  .social-list {
    li {
      display: inline-block;

      a {
        display: block;
        height: 34px;
        line-height: 34px;
        text-align: center;
        width: 34px;
        color: #F97794;
        font-size: 14px;
        background: #fff;
        border-radius: 50px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
      }
    }

    .facebook {
      a {
        &:hover {
          background: #4867aa;
          color: #fff;
        }
      }
    }

    .twitter {
      a {
        &:hover {
          background: #1da1f2;
          color: #fff;
        }
      }
    }

    .google-plus {
      a {
        &:hover {
          background: #dd4d42;
          color: #fff;
        }
      }
    }

    .linkedin {
      a {
        &:hover {
          background: #007bb6;
          color: #fff;
        }
      }
    }
  }
}

.testimonial {
  background: #f9f9f9;
}

.testimonial-item {
  padding: 30px;
  margin: 15px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.06);

  .author {
    display: inline-block;
    margin-bottom: 20px;

    .img-thumb {
      float: left;
      overflow: hidden;
      position: relative;

      img {
        border-radius: 50%;
        width: 75%;
      }
    }

    .author-info {
      float: left;
      padding: 3px 0;

      h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 0;

        a {
          color: #484848;

          &:hover {
            color: #F97794;
          }
        }
      }
    }
  }

  .content-inner {
    overflow: hidden;

    .description {
      width: 100%;
      margin-bottom: 10px;
    }

    span {
      color: #F97794;
    }
  }
}

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
}

.owl-theme {
  .owl-controls {
    .owl-page {
      display: inline-block;
      zoom: 1;
      *display: inline;

      span {
        display: block;
        width: 12px;
        height: 12px;
        margin: 2px 4px;
        filter: alpha(opacity=50);
        opacity: 1;
        border-radius: 30px;
        background: #fff;
        border: 2px solid #fff;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
      }
    }

    .owl-page.active {
      span {
        background: #F97794;
      }
    }
  }

  .owl-controls.clickable {
    .owl-page {
      &:hover {
        span {
          background: #F97794;
        }
      }
    }
  }
}


/* ==========================================================================
  Pricing Table
  ========================================================================== */

.pricing-table {
  padding: 20px 0px 0px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid #eaeaea;
  text-align: center;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 30px;

  &:hover {
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
  }

  .pricing-details {
    h2 {
      font-size: 18px;
      color: #546E7A;
      font-weight: 500;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .price {
      color: #263238;
      font-size: 36px;
      line-height: 40px;
      font-weight: 500;
      letter-spacing: -1px;
      background-color: #fff !important;
      border-bottom: 1px solid #e9edf2;
      padding-bottom: 40px;

      span {
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: #A2A2A2;
      }
    }

    ul {
      li {
        padding: 12px;
        font-size: 14px;

        &:nth-child(even) {
          background-color: #f9f9f9;
        }
      }
    }
  }

  .plan-button {
    padding: 30px 0;
    background: #f9f9f9;
  }
}

.pricing-big {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}


/* ==========================================================================
  Slider
   ========================================================================== */

#carousel-area {
  overflow: hidden;
  background: #2c3e50;

  .carousel-item {
    background-size: 100%;

    .carousel-caption {
      top: 32%;
      right: 10%;
      left: 12%;
      text-shadow: none;
      padding-top: 0;
      padding-bottom: 0;

      h3 {
        color: #fff;
        font-weight: 500;
        font-size: 26px;
        line-height: 38px;
      }

      h2 {
        font-size: 80px;
        font-weight: 700;
        color: #fff;
      }

      h4 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
      }
    }
  }

  .carousel-control {
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .carousel-control {
      display: block;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
    }
  }

  .carousel-control-next {
    opacity: 1;

    i {
      width: 48px;
      line-height: 48px;
      height: 48px;
      color: #fff;
      font-size: 24px;
      display: inline-block;
      background: #F97794;
      border-radius: 30px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .carousel-control-prev {
    opacity: 1;

    i {
      width: 48px;
      line-height: 48px;
      height: 48px;
      color: #fff;
      font-size: 24px;
      display: inline-block;
      background: #F97794;
      border-radius: 30px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .carousel-indicators {
    li {
      &:hover {
        opacity: 1;
      }

      width: 30px;
      height: 7px;
      border-radius: 4px;
    }

    li.active {
      opacity: 1;
    }

    bottom: 35px;
  }
}

#slider-area {
  margin-top: -1px;

  .btn {
    margin-right: 15px;
  }

  .large_white {
    color: #fff;
  }

  .about-info {
    p {
      color: #333;
    }
  }
}

.contents {
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
  }

  .header-button {
    .btn {
      i {
        margin-left: 10px;
      }
    }
  }
}

/* ==========================================================================
   Blog 
   ========================================================================== */

#blog {
  .blog-item-wrapper {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
    -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
    -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);

      .blog-item-img {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .blog-item-img {
    position: relative;

    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  .blog-item-text {
    padding: 20px 30px;

    .date {
      font-size: 14px;
      margin-bottom: 10px;

      i {
        margin-right: 7px;
      }
    }

    h3 {
      line-height: 26px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;

      a {
        color: #263238;

        &:hover {
          color: #F97794;
        }
      }
    }
  }
}

.meta-tags {
  margin-bottom: 10px;

  span {
    color: #999;
    font-size: 14px;
    margin-right: 10px;

    i {
      margin-right: 5px;
    }

    a {
      color: #999;

      &:hover {
        color: #F97794;
      }
    }
  }
}


/* ==========================================================================
    Single Page Style
   ========================================================================== */

#blog-single {
  padding: 80px 0;
  background: #ECF0F1;

  .blog-post {
    background: #fff;
    overflow: hidden;
    margin-bottom: 40px;

    .post-thumb {
      img {
        width: 100%;
      }
    }

    .post-content {
      padding: 30px;

      h3 {
        font-size: 30px;
        padding-bottom: 10px;
      }
    }
  }
}

.blog-comment {
  background: #fff;
  padding: 50px 30px;
  margin-top: 30px;
  overflow: hidden;

  h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    .the-comment {
      border-bottom: 1px solid #e7e6e6;
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    .children {
      padding-left: 40px;
    }
  }

  .avatar {
    float: left;
    margin-right: 15px;
    padding: 5px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px dashed #346AFE;
  }

  .comment-author {
    margin-bottom: 10px;
  }

  .meta {
    margin-bottom: 10px;
    color: #999;
  }
}

.post-meta {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;

  ul {
    li {
      display: inline-block;
      margin-right: 8px;
      margin-left: 8px;

      i {
        margin-right: 5px;
      }

      a {
        color: #fff;

        &:hover {
          color: #F97794;
        }
      }
    }
  }
}


/* ==========================================================================
   Contact Us
  ========================================================================== */

.form-control {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #f5f5f5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:focus {
    border: 1px solid #F97794;
    outline: none;
    box-shadow: none;
  }
}

.btn.disabled {
  opacity: 1;
}

textarea {
  border-radius: 4px !important;
}

.contact-info {
  margin-bottom: 15px;

  i {
    font-size: 20px;
    color: #F97794;
  }

  h5 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

#contact {
  background: #ffffff;
  position: relative;
  overflow: hidden;

  .contact-block {
    overflow: hidden;
  }
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled {
  li {
    color: #d9534f;
  }
}


/* Contact Map */
#conatiner-map {
  width: 100%;
  height: 480px;
}

#google-map-area {
  position: relative;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.toggle-map {
  height: 5px;
  width: 100%;
  background-color: #F97794;
  bottom: 0px;
  text-align: center;
  position: absolute;
  z-index: 106;

  .map-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
    border: #F97794 3px solid;
    position: relative;
    top: -46px;

    i {
      width: 44px;
      height: 44px;
      display: inline-block;
      line-height: 44px;
      text-align: center;
      font-size: 20px;
    }
  }
}

#google-map {
  text-align: center;
  background-color: #fff;
  height: 465px;
  position: absolute;
  bottom: -460px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 101;
  width: 100%;
  border-top: #F97794 3px solid;
}

#google-map.panel-show {
  bottom: -20px !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


/* ==========================================================================
  19. Subscribe Style
  ========================================================================== */

#subscribe {
  background: url(../img/bg/bg-subs.jpg);
  position: relative;

  .sub-item-box {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #fff;

    .icon-box {
      float: left;

      i {
        font-size: 30px;
        color: #F97794;
      }
    }

    .text-box {
      margin-left: 60px;

      h4 {
        font-size: 16px;
        font-weight: 500;
      }

      p {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subscribe-form {
  .sub-title {
    margin-bottom: 30px;

    h3 {
      font-size: 30px;
      margin-bottom: 10px;
      position: relative;
      font-weight: 500;
    }
  }

  .form-wrapper {
    background-color: #ffffff;
    padding: 58px 40px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    .form-group {
      margin-bottom: 0px;
    }

    .form-control {
      display: block;
      width: 100%;
      font-size: 14px;
      box-shadow: none;
      color: #848484;
      text-transform: capitalize;
      background: #f7f7f7;
      border: 1px solid transparent;
      padding: 15px 30px;
      border-radius: 30px;
      background-image: none;
      background-clip: padding-box;

      &:focus {
        color: #212121;
        background-color: #fff;
        border-color: #F97794;
        box-shadow: none;
        outline: 0;
      }
    }
  }

  .form-submit {
    .btn {
      width: 100%;
      padding: 13px 30px;
    }
  }
}


/* ==========================================================================
   Footer Style
   ========================================================================== */

.block-title {
  font-size: 14px;
  font-weight: 500;
  color: #263238;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

footer {
  .footer-Content {
    background-color: #ffffff;
    padding: 60px 0;
    color: #546E7A;
  }

  .menu {
    padding-left: 0;

    li {
      padding-bottom: 12px;

      a {
        color: #546E7A;

        &:hover {
          color: #F97794;
        }
      }
    }
  }
}

.textwidget {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;

  p {
    color: #546E7A;
  }
}

.contact-footer {
  margin: 0;
  padding: 0;
  display: inline-block;

  li {
    padding: 3px 0;
    margin-bottom: 15px;

    strong {
      float: left;
    }

    span {
      margin-left: 73px;
      display: block;

      a {
        color: #546E7A;

        &:hover {
          color: #F97794;
        }
      }
    }
  }
}

.instagram-footer {
  padding: 0;

  li {
    display: block;
    width: 33%;
    float: left;
    padding: 0 5px 5px 0;
    margin: 0;

    a {
      img {
        width: 100%;
      }
    }
  }
}

.footer-social {
  li {
    display: inline-block;
    margin-right: 12px;

    a {
      background-color: #F97794;
      border-radius: 50%;
      color: #fff;
      height: 32px;
      line-height: 32px;
      text-align: center;
      width: 32px;
      display: inline-block;
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }

    .facebook {
      &:hover {
        background-color: #3b5998;
      }
    }

    .twitter {
      &:hover {
        background-color: #55acee;
      }
    }

    .linkedin {
      &:hover {
        background-color: #007bb5;
      }
    }

    .google-plus {
      &:hover {
        background-color: #dd4b39;
      }
    }
  }
}

#copyright {
  background-color: #ffffff;
  padding: 20px 0 10px;
  border-top: 1px solid #eaeaea;
  color: #546E7A;

  p {
    margin-bottom: 0;
    line-height: 40px;

    a {
      color: #546E7A;

      &:hover {
        color: #F97794;
      }
    }
  }

  .nav-inline {
    .nav-link {
      color: #546E7A;
      padding: 10px 0;
      margin-left: 10px;

      &:hover {
        color: #F97794;
      }
    }
  }
}


/* ==========================================================================
 Counter Section Style
 ========================================================================== */

.counters {
  background: url(../img/bg/bg-counter.jpg) fixed;
  position: relative;

  .facts-item {
    text-align: center;
    color: #fff;
    border: 1px dotted #fff;
    border-radius: 4px;
    padding: 30px;

    .icon {
      margin-bottom: 15px;

      i {
        font-size: 40px;
        color: #fff;
      }
    }

    .fact-count {
      h3 {
        font-size: 40px;
        color: #fff;
        font-weight: 400;
        line-height: 40px;
      }

      h4 {
        font-size: 15px;
        color: #fff;
        margin-bottom: 0;
      }
    }
  }
}

.counter-item {
  text-align: center;
  padding: 30px;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  margin: 15px 0;

  .icon {
    margin-bottom: 20px;

    i {
      font-size: 40px;
      color: #F97794;
    }
  }

  .fact-count {
    h3 {
      font-size: 50px;
      font-weight: 500;
      line-height: 60px;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}